<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Add new product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<style>
		
		.gradientbackgr{
  			background: #fffff0;
	 		background: radial-gradient(#0ed61f, #bfc2ff);
		}
	</style>
</head>
<body class="gradientbackgr">


<div class="container-fluid" align="center">
	<h1>Add new product:</h1>
	<form action="/addnewproduct" method="post" id="addnewprod">
		<div class="form-group">
			<label for="product_name">New product name:</label>
			<input type="text" class="form-control" id="product_name" required="required" placeholder="Enter new name" name="name" form="addnewprod" style="width:350px" >
		</div>
		<div class="form-group">
			<label for="product_descr">New product description:</label>
			<input type="text" class="form-control" id="product_descr" required="required" placeholder="Enter new description" name="description" form="addnewprod" style="width:350px" >
		</div>


		<div class="form-group">
			<label for="sel2">Choose categories for a new product:</label>
			<select multiple class="form-control" id="sel2" required="required" name="categories" style="width:350px" form="addnewprod">
				<option th:each="categ : ${categories}" > <h2 th:text="${categ.name}"></h2> </option>
			</select>
		</div>
			<button type="submit" class="btn btn-primary">Save changes</button>
			<button type="submit" class="btn btn-primary" form="reset_form">Go to main page</button>
	</form>
	<form action="/index" method="get" id="reset_form">

	</form>
</div>
<br>
<div class = "container-fluid">



</div>
	
</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


</body>
</html>
